body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0px;
  background-color: #dddddd;
  padding-bottom: 65px;
  background-image: url(../../assets/images/gravel.png);
}

h1{
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
}

h2{
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
}

h5{
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
}

p{
  color: #777777;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}

.p2{
  color: #777777;
  font-size: 20pt;
  /* line-height: 100%; */
  /* margin-bottom: 16px; */
}

hr{
  color: #cccccc;
  background-color: #cccccc;
  height: 3px;
  border-width: 0px;
  margin: 5px 0px 25px;
}

header{
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #cccccc;

}

#headerBox{
  width: 960px;
  margin: 0 auto;
}

#name{
  background-color: #4aaaa5;
  float: left;
  color: white;
  padding: 30px;
}

.menuButtons{
  color: #777777;
  text-decoration: none;
}

.offWhite{
  color: #dddddd;
}

#menuBar{
  float: right;
  padding: 30px 0px 0px;
}

#menuBar a:hover{
  color: black;
}

footer{
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 40px 0px 5px;
  background-color: #505050;
  border-top: 8px solid #4aaaa5;
  color: #bbbbbb;
  font-size: 14px;
}

#contentBox{
  width: 900px;
  margin: 35px auto;
  padding: 35px 30px 20px;
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  border-color: #cccccc;
}

#sectionTitle{
  color: #4aaaa5;
  border-style: solid;
  float: left;
  margin: 0px 0px 22px;
}

#iconBlock{
  float: right;
}

.socialIcon{
  width: 47px;
  margin: 0px 6px;
  top: -13px;
  right: -6px;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* about page */

.photoWithCitation{
  color: black;
  margin: 0px 25px 15px 0px;
  text-align: right;
  float: left;
  font-size: 12px;
}

.photoCitation{
  color: black;
}

/* portfolio page */

.portfolioBox{
  width: 280px;
  height: 200px;
  float: left;

  margin: 0px 40px 50px 0px;
  position: relative;
  /* align: center; */
  /* text-align: center; */
  
}

.portfolioTitle{
  width: 280px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
}

.portfolioTitle a:hover{
  color: black;
}

.portfolioLink{
  text-decoration: none;
  color: #ffffff;
  position: relative;
  top: 20px;
}

/* contact page */

.contactForm{
  width: 878px;
  font-size: 14px;
  padding: 10px;
  color: #777777;
  margin-bottom: 10px;
}

.tallContactForm{
  height: 300px;
  width: 880px;
  border-color:#cccccc;
}

.button{
  background-color: #4aaaa5;
  border: none;
  color: #ffffff;
  padding: 12px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
}

.portfolios {
/* text-align: center; */
/* padding-left: 150px; */
}

.button:hover{
  color: black;
}

@media (max-width: 575.98px) {
  .p2 {
    font-size: 11pt;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .p2{
    /* line-height: 100%; */
    font-size: 16pt;
    /* margin-bottom: 0px; */
  }
}

@media (max-width: 767.98px) {
  h1{
    /* font-family: 'Georgia', Times, "Times New Roman", serif; */
    font-size: 20px;
    /* font-weight: bold; */
  }

  #name{
    /* background-color: #4aaaa5;
    float: left;
    color: white; */
    padding: 15px;
  }

  #menuBar{
    /* float: right; */
    padding: 17px 0px 0px;
  }

}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .p2 {
    font-size: 18pt;
  }
}

@media (max-width: 991.98px) {
  #contentBox {
    width: auto;
    max-width: none;
   
    /* padding-left: 20px; */
  }

  #contentWrapper {
    width: 100%;
    
    max-width: none;
  }

  #headerBox {
    width: 99%;
    margin-left: auto;
    margin-right: 10px;
    max-width: none;
    /* margin-right: 3px; */
  }

  .formBox {
    padding-right: 22px;
  }

  .contactForm{
    width: 100%;
    
    font-size: 14px;
    padding: 10px;
    color: #777777;
    margin-bottom: 10px;
  }
  
  .tallContactForm{
    height: 300px;
    /* width: 96%; */
    border-color:#cccccc;
  }
}